*{
    box-sizing:border-box;
}
body{
    margin:0px;
    background-color:#000000; 
    
   
}
.row1{
    height:26px;
}
.row2{
    height:72px;
}
.col1{
    float:left;
    height:72px;
    width:72px;
    margin-left:80px;
}
.col2{
    float:left;
    height:48px;
    width:120px;
    margin-left:10px;
    margin-top:8px;
}

.word{
    color:white;
    text-align:center;
    margin-top:9px;
    font-size:22px;
}
.col3{
    float:left;
    height:33px;
    width:72px;
    margin-left:1200px;
    margin-top:20px;
}   
.word1{
    color:white;
    text-align:center;
    margin-top:5px;
    font-size:20px;
}
.col4{
    float:left;
    height:30px;
    width:94px;
    margin-left:20px;
    margin-top:20px;
}  
.word2{
    color:white;
    text-align:center;
    margin-top:7px;
    font-size:17px;
}

.row3{
    height:28px;
}
.row4{
    height:40px;

}
.row4_col{
    float:left;
    height:30px;
    width:94px;
    margin-left:220px;
    margin-top:5px;
}
.word3{
    color:white;
    margin-top:5px;
    font-size:20px;
}
    
.row5{
    height:40px;
}
.row6{
    height:275px;
    width:1394px;
    margin-left:220px;
    border:2px solid black;
}
.col5{
    float:left;
    border:2px solid black;
    height:252px;
    width:206px;
    margin-top:6px;
}
.col6{
    float:left;
    border:2px solid red;
    height:252px;
    width:1100px;
    margin-left:60px;
    margin-top:10px;
}
