*{
    box-sizing:border-box;
    background-color:black;
    color:white;
}

.row1{
    height:28px;
    width:100%;
   
}
.row2{
    height:72px;
    width:100%;
}
.Title_row{
    width:400px;
    height:72px;
    padding-left:72px;
    float:left;
}
.Icon_logo{
    width:72px;
    height:72px;
    float:left;
}
.logo{
    margin:4px;
}
.Movie_hub{
    width:200px;
    height:50px;
    float:left;
    margin:12px 0px 12px 5px;
    
}
.tittle_text{
    font-size:30px;
    color:white;
    margin:5px;
}

.second_text{
    float:right;
    width:200px;
    height:30px;
    margin:16px 80px 16px 0px;
}
.text{
    color:white;
    margin:4px;
}
.Watch{
    width:65px;
    height:30px;
    float:left;
    
    
}
.Add_movie{
    width:100px;
    height:30px;
    float:right;
}
.row3{
    height:28px;
    width:100%;
    border-bottom:solid 2px red;
}

.row4{
    height:28px;
    width:100%;
}
.row5{
    height:40px;
    width:100%;
}
.row6{
    height:30px;
    width:100%;
}
.Watch_text{
    width:410px;
    height:30px;
    float:left;
}
.Watch_data{
    width:56px;
    height:30px;
   
}
.text1{
    color:white;
    margin:0px;
}
.row7{
    width:100%;
    height:28px;
   
    
}
.data_row{
    
    width:1000px;
    height:277px;
    border-bottom:solid 1px grey;
    margin: auto;
    margin-bottom:20px;
    
}
.movie_image{
    width:220px;
    height:255px;
    float:left;
    
}

.movie_detail{  
    width:775px;
    height:255px;
    float:left;
}
.text2{
    color:white;
    margin:12px;
    font-size:30px;
}

.action{
    width:775px;
    height:40px;
}
.like{
    width:32px;
    height:32px;
    margin-right:2px;
    float:left;
}
.rating{
    width:32px;
    height:32px;
    margin-left:12px;
    margin-top:9px;
    float:left;
}
.num{
    margin-top:2px;
    margin-left:15px;
}
.dislike{
    width:32px;
    height:32px;
    margin-right:2px;
    margin-left:8px;
    float:left;
}
.delete{
    width:32px;
    height:32px;
    margin-right:2px;
    float:right;
}

.movie_name{
    margin:0px;
}
.All_detail{
    width:775px;
    height:215px;
}
.footer_row{
    width:100%;
    height:350px;
}

.row8{
    width:1000px;
    height:350px;
    margin:auto;
}
.new_movie{
    width:170px;
    height:50px;
    margin-top:80px;
    margin-left:410px;
}
.text4{
    margin:2px;
}
.text3{
    width:658px;
    height:20px;
    margin-left:410px;
}
.Add_new_movie{
    width:190px;
    height:49px;
    background:red;
    margin-left:410px;
    
}
.add_button{
    padding:0px 0px 5px 0px;
    background:red;
    text-align:center;
}
.add_button{
    width:40px;
    height:40px;
    margin-top:20px;
    background:red;
}
